//- -----------------------------------------------------------------------------
//- This file contains markup that is specific to the home page.
//- -----------------------------------------------------------------------------

extend base-pages/base-default

include components/card
include components/carousel
include components/form

block localVariables
  -
    //- page-specific head configurations
    const localHeadProps = {
      title: 'Grubhub Promotional Email',
      description: 'You can get a Big Wack for 50 cents and get a free side salad when you buy any size drink',
      //- paths of the stylesheets to use for this page
      stylesheetPaths: [
        'https://fonts.googleapis.com/css?family=Nunito',
        'css/styles.min.css',
      ],
    };
  -
    //- card items for services section
    const serviceCards = [{
      iconClasses: 'fas fa-user-tie fa-3x',
      title: 'Custom Tailoring',
      content: [
        'Lorem ipsum dolor sit amet consectetur.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
      ],
    }, {
      iconClasses: 'far fa-comment fa-3x',
      title: 'Style Consultation',
      content: [
        'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, nemo molestias.',
      ],
    }, {
      iconClasses: 'fas fa-store-alt fa-3x',
      title: 'Premade Attire',
      content: [
        'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
      ],
    },]

//- ---------------- MARKUP FOR PAGE ----------------

prepend stylesheets
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')

append header
  h1 hello there. I'm delux.

append main
  section#about.about
    .container
      h2 how are you?
