//- -----------------------------------------------------------------------------
//- This file contains all markup related to the hero layout of the site/application.
//- -----------------------------------------------------------------------------
section.hero
  .hero-info-container
    .hero-info
      h1 Clothing of Deluxe Calibur
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi assumenda dolores accusantium quasi, possimus facilis.
      a.btn.btn-secondary.btn-large.btn-shadow.btn-block(href='#contact') Send A Request
  .lg-screen-img
